<div class="flex p-5">
    <div class="w-1/4">
        <h2>WHAT'S</h2>
        <h2>NEW</h2>
    </div>
    <div class="flex-1 flex ">
        <div class="collection flex flex-col justify-center items-center px-2">
            <div>
                <img src="{{ '200_x_200_whats_new_circle.jpg' | asset_url }}" class="rounded-full" width="200px" height="200px">
            </div>
            <div class="pt-4 text-[#191918] text-[10px] lg:text-[12px]">
                Vasl
            </div>
        </div>
        <div class="collection flex flex-col justify-center items-center px-2">
            <div>
                <img src="{{ '200_x_200_whats_new_circle.jpg' | asset_url }}" class="rounded-full" width="200px" height="200px">
            </div>
            <div class="pt-4 text-[#191918] text-[10px] lg:text-[12px]">
                Limited Edition
            </div>
        </div>
        <div class="collection flex flex-col justify-center items-center px-2">
            <div>
                <img src="{{ '200_x_200_whats_new_circle.jpg' | asset_url }}" class="rounded-full" width="200px" height="200px">
            </div>
            <div class="pt-4 text-[#191918] text-[10px] lg:text-[12px]">
                Chandni Raatein
            </div>
        </div>
        <div class="collection flex flex-col justify-center items-center px-2">
            <div>
                <img src="{{ '200_x_200_whats_new_circle.jpg' | asset_url }}" class="rounded-full" width="200px" height="200px">
            </div>
            <div class="pt-4 text-[#191918] text-[10px] lg:text-[12px]">
                Basic Prints
            </div>
        </div>
        <div class="collection flex flex-col justify-center items-center px-2">
            <div>
                <img src="{{ '200_x_200_whats_new_circle.jpg' | asset_url }}" class="rounded-full" width="200px" height="200px">
            </div>
            <div class="pt-4 text-[#191918] text-[10px] lg:text-[12px]">
                Essential Pret
            </div>
        </div>
        <div class="collection flex flex-col justify-center items-center px-2">
            <div>
                <img src="{{ '200_x_200_whats_new_circle.jpg' | asset_url }}" class="rounded-full" width="200px" height="200px">
            </div>
            <div class="pt-4 text-[#191918] text-[10px] lg:text-[12px]">
                Chamkeeli
            </div>
        </div>
    </div>
</div>