<div class="slick-slider relative">

    <img src="{{ 'Chamkeeli-Web-min.jpg' | asset_url }}" srcset="
                {{ 'Chamkeeli-Mobile-min.jpg' | asset_url }} 768w, 
                {{ 'Chamkeeli-Web-min.jpg' | asset_url }} 1200w" sizes="100vw" class="w-full h-full"
        alt="Item 1">

    <img src=" {{ 'Web-Banner-3.jpg' | asset_url }}" class="w-full h-full" alt="Item 2"
        sizes="(min-width: 768px) 768px,100vw" />


    <img src="{{ 'Basic-Print-Web-min.jpg' | asset_url }}" class="w-full h-full" alt="Item 3"
        sizes="(min-width: 768px) 768px,100vw" />

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.slick-slider').slick({
            dots: true,
            infinite: true,
            speed: 500,
            fade: true,
            cssEase: 'linear'
        });

        function updateImageSizes() {
            const images = document.querySelectorAll('.slick-slider img');
            const viewportWidth = window.innerWidth;

            images.forEach(img => {
                img.setAttribute('sizes', `${viewportWidth}px`);
            });
        }

        // Update image sizes on window resize
        window.addEventListener('resize', updateImageSizes);

        // Trigger the function when the page loads
        window.addEventListener('load', updateImageSizes);
    });
</script>